
PROVIDER_URL="http://localhost:8545"  # Local Ethereum node
CONTRACT_ADDRESS="0xDc64a140Aa3E981100a9becA4E685f962f0cF6C9"  # Replace with your deployed contract address
ABI_PATH="contracts/artifacts/contracts/TableSequences.sol/TableSequences.json"  # Replace with the path to your contract's ABI
FROM_ADDRESS="0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266"  # Replace with your Ethereum address (Default from local hardhat node)
PRIVATE_KEY="0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"  # Replace with your private key (Default from local hardhat node)
PINATA_API_KEY=
API_HOST="http://localhost:8000"

APTOS_TABLE_SEQUENCE_CONTRACT=